In [1]:
import pandas as pd

In [2]:
mta = pd.read_csv('mta_clean.zip')

In [3]:
mta.head()

,station,turnstile,ca,unit,scp,linename,num_lines,division,desc,date,time,timestamp,weekday,entries,exits,total
0,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,1,BMT,REGULAR,2019-08-03 00:00:00,04:00:00,2019-08-03 04:00:00,Saturday,0.0,10.0,10.0
1,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,1,BMT,REGULAR,2019-08-03 00:00:00,08:00:00,2019-08-03 08:00:00,Saturday,0.0,7.0,7.0
2,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,1,BMT,REGULAR,2019-08-03 00:00:00,12:00:00,2019-08-03 12:00:00,Saturday,0.0,10.0,10.0
3,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,1,BMT,REGULAR,2019-08-03 00:00:00,16:00:00,2019-08-03 16:00:00,Saturday,0.0,12.0,12.0
4,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,1,BMT,REGULAR,2019-08-03 00:00:00,20:00:00,2019-08-03 20:00:00,Saturday,0.0,11.0,11.0

In [4]:
import seaborn as sns

In [ ]:
matrix_list= []
for station in list(mta.head(10).index):
    df_station = df_10[df_10['STATION']==station]
    group_day_time = df_station.groupby(['weekday','time'])['total'].sum()
    pennstat34 = group_day_time.unstack()
    pennstat34.reset_index()   
    pennstat34 = pennstat34.reindex(index=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
    pennstat34 = pennstat34.reindex(columns=["12am-4am","4am-8am","8am-12pm","12pm-4pm","4pm-8pm","8pm-12am"])