In [38]:
import pandas as pd
import datetime as dt

In [39]:
mta = pd.read_csv('mta_clean.zip', parse_dates=['date', 'timestamp'], low_memory=False)

In [40]:
mta.head()

,station,turnstile,ca,unit,scp,linename,division,date,time,desc,timestamp,entries,exits,total
0,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,BMT,2019-07-13,04:00:00,REGULAR,2019-07-13 04:00:00,0.0,0.0,0.0
1,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,BMT,2019-07-13,08:00:00,REGULAR,2019-07-13 08:00:00,0.0,3.0,3.0
2,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,BMT,2019-07-13,12:00:00,REGULAR,2019-07-13 12:00:00,0.0,0.0,0.0
3,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,BMT,2019-07-13,16:00:00,REGULAR,2019-07-13 16:00:00,0.0,0.0,0.0
4,1 AV,1 AV-H007-R248-00-00-00,H007,R248,00-00-00,L,BMT,2019-07-13,20:00:00,REGULAR,2019-07-13 20:00:00,0.0,2.0,2.0

In [41]:
group_station = mta.groupby('station')[['total']].sum().sort_values('total',ascending=False)

group_station.head()

                      total
station
34 ST-PENN STA   18621359.0
GRD CNTRL-42 ST  15695153.0
34 ST-HERALD SQ  14073542.0
TIMES SQ-42 ST   11758816.0
14 ST-UNION SQ   11578269.0

In [49]:
mta_25 = mta[mta['station'].isin(list(group_station.head(25).index))]
mta_25.reset_index()
#df_25.groupby(['station'])[['total']].sum().sort_values('total',ascending=False)
mta_25.loc[:,('weekday')] = mta_25['date'].dt.day_name()
group_station_day = mta_25.groupby(['station','weekday'])['total'].sum()
matrix_station_day = group_station_day.unstack()
matrix_station_day.reset_index()
matrix_station_day = matrix_station_day.reindex(columns=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
matrix_station_day = matrix_station_day.reindex(index=list(group_station.head(25).index))

/Users/jaeseokpark/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/jaeseokpark/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [ ]:
#code from https://towardsdatascience.com/mta-turnstile-traffic-analysis-to-optimize-street-engagements-a7391adc4d45

df_10['WEEKDAY'] = df_10['DATE'].dt.day_name()
group_station_day = df_10.groupby(['STATION','WEEKDAY'])['ENTRY_EXIT'].sum()
matrix_station_day = group_station_day.unstack()
matrix_station_day.reset_index()
matrix_station_day = matrix_station_day.reindex(columns=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
matrix_station_day = matrix_station_day.reindex(index=list(group_station.head(10).index))

array = np.array(matrix_station_day.applymap(lambda x:str(round(x/1000,1))+'k'))
fig2 = plt.figure(figsize=[10,10])
cmap = sns.cubehelix_palette(light=1, as_cmap=True)
ax2 = sns.heatmap(matrix_station_day,cmap='Blues',linecolor='white',linewidths=1,annot = array,fmt='')
plt.xlabel('Day of the Week',fontsize=15)
plt.ylabel('Top 10 Stations',fontsize=15)   
plt.title('Station Traffic in the Week',weight='bold',fontsize=15)